<nav class="navbar navbar-expand-md navbar-dark px-4">
    <div class="container-fluid">      
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="@NavMenuCssClass navbar-collapse" @onclick="CollapseNavMenu">
            <ul class="justify-content-between align-items-center navbar-nav w-100 mb-2 mb-md-0">
                <li class="nav-item">
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <div class="account d-flex align-items-center">
                            <NavLink class="nav-link" href="/products">Products</NavLink>
                                    <p class="text-white mb-0">|</p> 
                                <NavLink class="nav-link" href="admin/inventory">Inventory</NavLink>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="products">Products</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link navbar-brand" href="/" Match="NavLinkMatch.All">Fresh Baked Fleet</NavLink>
                </li>
                <li class="nav-item">
                    <AuthorizeView>
                        <Authorized>
                            <div class="account d-flex align-items-center">
                                <NavLink class="nav-link" href="/account">Account</NavLink>
                                <p class="text-white mb-0">|</p>
                                <form action="/account/logout" method="post" data-enhance="false" onsubmit="return true;">
                                    <AntiforgeryToken />
                                        <button class="nav-link btn btn-link text-white d-flex align-items-center p-2" aria-label="Logout" title="Logout">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                            </svg>
                                        </button>
                                </form>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="account/login">Login</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>                    
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}