@page "/login"
@using BlazorApp.Data
@using BlazorApp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<div class="main">
  <h3>Login</h3>
  
  @if (!string.IsNullOrEmpty(errorMessage))
  {
    <div class="alert alert-danger">@errorMessage</div>
  }

  <div class="col-md-4">
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="loginForm">
      <DataAnnotationsValidator />

      <div class="mb-3">
        <label class="form-label">Email Address:</label>
        <InputText @bind-Value="loginModel.EmailAddress" type="email" class="form-control" />
        <ValidationMessage For="@(() => loginModel.EmailAddress)" class="text-danger" />
      </div>

      <div class="mb-3">
        <label class="form-label">Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => loginModel.Password)" class="text-danger" />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>
  </div>

  @code {
    [SupplyParameterFromForm]
    private LoginModel loginModel { get; set; } = default!;
    private string errorMessage = string.Empty;

    protected override void OnInitialized()
    {
      loginModel ??= new();
    }

    private async Task HandleLogin()
    {
      errorMessage = string.Empty;

      var result = await SignInManager.PasswordSignInAsync(
        loginModel.EmailAddress,
        loginModel.Password,
        isPersistent: false,
        lockoutOnFailure: false);

      if (result.Succeeded)
      {
        NavigationManager.NavigateTo("/");
      }
      else
      {
        errorMessage = "Invalid login attempt.";
      }
    }
  }
</div>