@page "/account/register"
@using BlazorApp.Models
@using BlazorApp.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<div class="main">
  <h3>Register</h3>

  @if (!string.IsNullOrEmpty(errorMessage))
  {
    <div class="alert alert-danger">@errorMessage</div>
  }

  <div class="col-md-4">
    <EditForm Model="@registerModel" OnValidSubmit="HandleRegister" FormName="registerForm">
      <DataAnnotationsValidator />

      <div class="mb-3">
        <label class="form-label">First Name:</label>
        <InputText @bind-Value="registerModel.FirstName" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Last Name:</label>
        <InputText @bind-Value="registerModel.LastName" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Email Address:</label>
        <InputText @bind-Value="registerModel.EmailAddress" type="email" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Password:</label>
        <InputText @bind-Value="registerModel.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => registerModel.Password)" class="text-danger" />
      </div>

      <div class="mb-3">
        <label class="form-label">Confirm Password:</label>
        <ValidationMessage For="@(() => registerModel.ConfirmPassword)" class="text-danger" />
        <InputText @bind-Value="registerModel.ConfirmPassword" type="password" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary">Register Today!</button>
    </EditForm>
  </div>

  @code {
    [SupplyParameterFromForm]
    private RegisterModel registerModel { get; set; } = default!;

    private string errorMessage = string.Empty;

    protected override void OnInitialized()
    {
      registerModel ??= new();
    }

    private async Task HandleRegister()
    {
      errorMessage = string.Empty;

      var newUser = new User
      {
        UserName = registerModel.EmailAddress,
        Email = registerModel.EmailAddress,
        LastName = registerModel.LastName,
        FirstName = registerModel.FirstName,
        EmailConfirmed = true
      };

      var result = await UserManager.CreateAsync(newUser, registerModel.Password);

      if (result.Succeeded)
      {
        NavigationManager.NavigateTo("/account/login");
      }
      else
      {
        errorMessage = string.Join(" | ", result.Errors.Select(e => e.Description));
      }
    }
  }
</div>