@page "/orders"
@rendermode InteractiveServer
@attribute [Authorize]
@inject NavigationManager NavigationManager
@using BlazorApp.Models

<PageTitle>Orders</PageTitle>

<h3>Orders</h3>

<button @onclick="GoCreate">Create Order</button>

@foreach (BlazorApp.Models.Order order in orders)
{
    <div>
        <p>Order #order.Id</p>
        <p>Status:@order.Status</p>
    </div>
}
@code{
    List<Order>orders = new();
    protected override void OnInitialized()
    {
        orders = new List<Order>();
    }
    void GoCreate()

    {
        NavigationManager.NavigateTo("/orders/create");

    }
}